## assignments 01
assignments/01/graphs/*
assignments/01/checkpoints/*
assignments/01/visualization/*
assignments/01/data/*
assignments/02_style_transfer/graphs/*
assignments/02_style_transfer/checkpoints/*
assignments/02_style_transfer/imagenet-vgg-verydeep-19.mat

*.vscode
*.idea
*.pdf

*.DS_Store
*.SUNet
*.pyc
.env/*
examples/data
examples/graphs/*
examples/checkpoints/*
examples/visualization/*
