## assignments 01
assignments/01/graphs/*
assignments/01/checkpoints/*
assignments/01/visualization/*
assignments/01/data/*
assignments/02/graphs/*
assignments/02/checkpoints/*
assignments/02/visualization/*


*.idea
*.pdf

*.SUNet
*.pyc
.env/*
examples/data
examples/graphs/*
examples/checkpoints/*
examples/visualization/*
